.social {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: hidden;
    height: 32px;
}

.social--top {
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline / 2;
}

.inline-icon__fallback {
    display: none;
}

.social__item {
    float: left;
    padding: 0 3px $gs-baseline/2 0;
}

.social-icon {
    border: 1px solid $garnett-neutral-4;
    text-align: center;
    height: 32px;
    width: 32px;
}

.social-icon__svg {
    height: 88%;
    width: 88%;
}

.block-share__item {
    display: block;
    float: left;
    cursor: pointer;
    margin-right: $gs-gutter / 4;
    width: 24px;
    height: 24px;
    box-sizing: border-box;

    .inline-share-facebook__svg,
    .inline-share-twitter__svg,
    .inline-share-gplus__svg {
        width: 23px;
        height: 23px;
    }
}

.social-icon__svg {
    fill: $garnett-neutral-1;
}
